.paymentContainer {
  background: #fff;
  width: 80%;
  border-radius: 2px;
  padding: 5em 3em;
  font-family: "Montserrat";
  color: #1a2f6c;
  position: relative;
  animation: myAnim 1s ease 0s 1 normal backwards;
}
.paymentWrapper {
  display: flex;
  gap: 3em;
  padding: 2em 1em;
}

.paymentWrapper .leftContainer {
  flex: 2;
}
.paymentWrapper .rightContainer {
  flex: 1;
}

.squareBackground {
  background-color: #1a2f6c;
  padding: 12px;
  border-radius: 5px;
}

.paymentWrapper .leftContainer .logo {
  max-width: 100%;
  background: #156bff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.paymentWrapper .leftContainer .logo img {
  width: 25px;
  height: 25px;
}
.paymentWrapper .leftContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.paymentWrapper .leftContainer .header .timer {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}

.paymentWrapper .leftContainer .title {
  display: flex;
  align-items: center;
}
.paymentWrapper .leftContainer .title > h2 {
  color: #1e3a8a;
  font-weight: 500;
}
.paymentWrapper .leftContainer .title > .subtitle {
  font-weight: 300 !important;
  color: #1e3a8a;
}

.paymentWrapper .card_details .card_number {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.paymentWrapper .card_details h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.paymentWrapper .card_details p {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 16px;
}
.paymentWrapper .card_details .edit {
  max-width: 100%;
  width: 15px;
  height: 20px;
  margin-right: 5px;
}
/* card Input field */
.paymentWrapper .card_details .cardInput {
  position: relative;
  margin-bottom: 2em;
}

.paymentWrapper .card_details input {
  max-width: 100%;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 5em;
  font-size: 1.2em;
  font-weight: 500;
}
.paymentWrapper .card_details input:focus {
  outline: 2px solid#156bff;
}
.paymentWrapper .card_details .cardInput .master_icon,
.paymentWrapper .card_details .cardInput .master_logo {
  position: absolute;
}
.paymentWrapper .card_details .cardInput .master_icon {
  left: 2%;
  top: 50%;
  transform: translate(0, -50%);
}
.paymentWrapper .card_details .cardInput .master_logo {
  right: 2%;
  top: 30%;
  transform: translate(-50%, 0);
  width: 20px;
}

.paymentWrapper .card_details .cardInput img,
.paymentWrapper .mastercard_container .content .card_dets img,
.paymentWrapper .rightContainer .paymentInfo img {
  max-width: 100%;
  width: 30px;
}

/* cvv */
.paymentWrapper .card_details .cvv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.paymentWrapper .card_details .cvv > div,
.paymentWrapper .card_details .cvv .cvvInput {
  flex: 1;
}
.paymentWrapper .card_details .cvv .cvvInput,
.paymentWrapper .card_details .password .cvvInput {
  position: relative;
}
.paymentWrapper .card_details .cvv img,
.paymentWrapper .card_details .password .cvvInput img {
  max-width: 100%;
  width: 20px;
  position: absolute;
  right: 4%;
  top: 30%;
  transform: translate(-50%, 0);
}

.paymentWrapper .card_details .expiry_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2em;
}
.paymentWrapper .card_details .expiry_content .expiry_details {
  flex: 1;
}
.paymentWrapper .card_details .expiry_content .expiry {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.paymentWrapper .card_details .expiry_content .expiry input {
  padding: 0 1em;
  text-align: center;
}

/* password */
.paymentWrapper .card_details .password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.paymentWrapper .card_details .password > div,
.paymentWrapper .card_details .password .passwordInput {
  flex: 1;
}

.paymentWrapper .card_details .password input {
  padding: 0 1em;
  /* text-align: center; */
}

.paynowBtn {
  width: 100%;
  padding: 1em 2em;
  font-size: 1.2em;
  background-image: linear-gradient(to right, #2676fe, #156bff);
  border: none;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.paynowBtn:hover {
  transform: scale(0.99);
}
.paymentWrapper .rightContainer .mainWrapper {
  position: relative;
  height: 100%;
}
.paymentWrapper .rightContainer .mainWrapper .hoverContainer {
  position: absolute;
  left: 50%;
  right: 0;
  transform: translate(-50%);
  background: rgba(255, 255, 255, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  padding-top: 2em;
  /* padding-bottom: em; */
  width: 70%;

  z-index: 2;
}
.paymentWrapper .rightContainer .mainWrapper .blueDiv {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 80px;
  border-radius: 0 0 150px 150px;
  background: #2676fe;
}

.paymentWrapper .rightContainer .mastercard_container {
  width: 80%;
  min-height: 250px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paymentWrapper .rightContainer .mastercard_container .imageDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paymentWrapper .rightContainer .mastercard_container img:nth-child(1) {
  max-width: 100%;
  width: 40px;
  height: 50px;
}

.paymentWrapper .rightContainer .mastercard_container img:nth-child(2) {
  max-width: 100%;
  width: 30px;
  height: 30px;
}

.paymentWrapper .rightContainer .mastercard_container .content .dots {
  font-size: 3em;
}
.paymentWrapper .rightContainer .paymentInfo .content {
  border-bottom: 2px dashed #ccc;
}
.paymentWrapper .rightContainer .mastercard_container .content .card_no {
  display: flex;
  align-items: center;
  gap: 10px;
}
.paymentWrapper
  .rightContainer
  .mastercard_container
  .content
  .card_no
  p:nth-child(2) {
  margin-bottom: -1.5em;
  font-weight: 500;
  font-size: 1.3em;
}

.paymentWrapper .rightContainer .mastercard_container .content .card_dets {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 1em 0;
}

.paymentWrapper .rightContainer .mastercard_container .content .card_dets p {
  font-weight: 500;
}

.paymentWrapper .rightContainer .paymentInfo {
  background-color: #e8ecef;
  padding: 1em 2em;
  border-radius: 10px;
  height: 90%;
  position: absolute;
  top: 10%;
  width: 100%;
  display: flex;
  align-items: end;
  /* min-width: 400px; */
  /* background-color: red; */
  overflow: hidden;
}
/* .paymentWrapper .rightContainer .paymentInfo .summary {
  position: relative;
} */

.paymentWrapper .rightContainer .paymentInfo .content .details {
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0;
}
.paymentWrapper .rightContainer .paymentInfo .content .details h3 {
  font-size: 1em;
  font-weight: 600;
}
.paymentWrapper .rightContainer .paymentInfo .details p {
  font-size: 1em;
  color: #949db1;
}
.paymentWrapper .rightContainer .paymentInfo .leftcircle,
.paymentWrapper .rightContainer .paymentInfo .rightcircle {
  position: absolute;
  width: 30px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
}
.paymentWrapper .rightContainer .paymentInfo .leftcircle {
  left: -5%;
  bottom: 16%;
}
.paymentWrapper .rightContainer .paymentInfo .rightcircle {
  /* right: 2%; */
  bottom: 16%;
  right: -5%;
}

.paymentWrapper .rightContainer .paymentInfo .summary .title {
  font-size: 1em;
  color: #949db1;
  padding: 0.5em 0;
}
.paymentWrapper .rightContainer .paymentInfo .summary .amount {
  font-size: 1.8em;
  font-weight: 600;
}

.paymentWrapper .rightContainer .paymentInfo .summary .amount small {
  font-weight: 400;
  font-size: 0.6em;
  padding: 0 3px;
}
.paymentWrapper
  .rightContainer
  .paymentInfo
  .summary
  .amount
  small:nth-child(2) {
  font-weight: 400;
  font-size: 0.6em;
  color: #7a7d83;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 1em;
  transition: all 0.3s ease-in-out;
}

.closeBtn:hover {
  font-size: 1em;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* mobile screens with max widths of 600px */
@media only screen and (max-width: 600px) {
  .paymentContainer {
    margin: 2em 0;
    width: 90%;
    padding: 1em;
  }
  .paymentWrapper {
    gap: 2em;
    flex-direction: column;
    padding: 2em 0;
  }

  .paymentWrapper .leftContainer {
    flex: 1;
    order: 2;
  }
  .paymentWrapper .rightContainer {
    flex: 1;
    order: 1;
  }

  .squareBackground {
    padding: 8px;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 0.8em;
  }

  .paymentWrapper .leftContainer .logo {
    padding: 8px;
  }
  .paymentWrapper .leftContainer .logo img {
    width: 15px;
    height: 15px;
  }

  .paymentWrapper .leftContainer .header {
    margin-bottom: 2em;
  }
  .paymentWrapper .leftContainer .header .timer {
    gap: 2px;
  }

  .paymentWrapper .leftContainer .title > h2 {
    font-size: 1em;
  }

  .paymentWrapper .card_details h3 {
    font-size: 0.8em;
    margin-bottom: 8px;
  }
  .paymentWrapper .card_details p {
    font-size: 0.6em;
    margin-bottom: 12px;
  }
  .paymentWrapper .card_details .edit {
    width: 10px;
    height: 15px;
  }
  /* card Input field */
  .paymentWrapper .card_details .cardInput {
    margin-bottom: 1em;
  }

  .paymentWrapper .card_details input {
    height: 2em;
    padding: 1em 3em;
    padding-right: 2em;
    font-size: 1em;
  }

  .paymentWrapper .card_details .cardInput .master_logo {
    top: 25%;
    width: 15px;
  }

  /* .paymentWrapper .card_details .cardInput img,
  .paymentWrapper .mastercard_container .content .card_dets img,
  .paymentWrapper .rightContainer .paymentInfo img {
    max-width: 100%;
    width: 30px;
  } */

  /* cvv */
  .paymentWrapper .card_details .cvv {
    margin-bottom: 1em;
  }
  .paymentWrapper .card_details .cvv img,
  .paymentWrapper .card_details .password .cvvInput img {
    right: 2%;
    top: 15%;
  }

  .paymentWrapper .card_details .expiry_content {
    margin-bottom: 1em;
  }

  .paymentWrapper .card_details .expiry_content .expiry {
    gap: 0.5em;
  }
  .paymentWrapper .card_details .expiry_content .expiry input {
    padding: 0 0.7em;
  }

  /* password */
  .paymentWrapper .card_details .password {
    margin-bottom: 1em;
  }

  .paynowBtn {
    font-size: 0.8em;
  }

  .paymentWrapper .rightContainer .mainWrapper {
    position: relative;
    height: 100%;
  }
  .paymentWrapper .rightContainer .mainWrapper .hoverContainer {
    position: relative;
    width: 80%;
    margin-bottom: -5em;
  }
  .paymentWrapper .rightContainer .mainWrapper .blueDiv {
    height: 30px;
    width: 60px;
  }

  .paymentWrapper .rightContainer .mastercard_container {
    width: 70%;
    min-height: 150px;
  }
  .paymentWrapper .rightContainer .mastercard_container img:nth-child(1) {
    width: 30px;
    height: 40px;
  }

  .paymentWrapper .rightContainer .mastercard_container img:nth-child(2) {
    width: 20px;
    height: 20px;
  }

  .paymentWrapper .rightContainer .mastercard_container .content .name {
    font-size: 0.8em;
    margin-top: 10px;
  }
  .paymentWrapper .rightContainer .mastercard_container .content .dots {
    font-size: 2em;
  }
  .paymentWrapper .rightContainer .mastercard_container .content .card_no {
    gap: 5px;
  }
  .paymentWrapper
    .rightContainer
    .mastercard_container
    .content
    .card_no
    p:nth-child(2) {
    margin-bottom: -1.2em;
    font-size: 1em;
  }

  .paymentWrapper .rightContainer .mastercard_container .content .card_dets {
    margin: 0.5em 0;
  }
  .paymentWrapper .rightContainer .paymentInfo {
    padding-top: 5em;
    position: relative;
    min-width: 100%;
  }
  .paymentWrapper .rightContainer .paymentInfo .content .details h3 {
    font-size: 0.8em;
  }
  .paymentWrapper .rightContainer .paymentInfo .details p {
    font-size: 0.8em;
  }
  .paymentWrapper .rightContainer .paymentInfo .leftcircle,
  .paymentWrapper .rightContainer .paymentInfo .rightcircle {
    width: 30px;
    height: 35px;
  }
  .paymentWrapper .rightContainer .paymentInfo .leftcircle {
    left: -5%;
    bottom: 20%;
  }
  .paymentWrapper .rightContainer .paymentInfo .rightcircle {
    /* right: 2%; */
    bottom: 20%;
    right: -5%;
  }

  .paymentWrapper .rightContainer .paymentInfo .summary .title {
    font-size: 0.8em;
  }
  .paymentWrapper .rightContainer .paymentInfo .summary .amount {
    font-size: 1.3em;
  }
}

/* @media only screen and (max-width: 900px) {
  .paymentWrapper .rightContainer .paymentInfo {
    padding-top: 5em;
    position: relative;
  }
  .paymentWrapper .rightContainer .paymentInfo .content .details h3 {
    font-size: 0.8em;
  }
  .paymentWrapper .rightContainer .paymentInfo .details p {
    font-size: 0.8em;
  }
  .paymentWrapper .rightContainer .paymentInfo .leftcircle,
  .paymentWrapper .rightContainer .paymentInfo .rightcircle {
    width: 30px;
    height: 35px;
  }
  .paymentWrapper .rightContainer .paymentInfo .leftcircle {
    left: -5%;
    bottom: 16%;
  }
  .paymentWrapper .rightContainer .paymentInfo .rightcircle {
    bottom: 16%;
    right: -5%;
  }

  .paymentWrapper .rightContainer .paymentInfo .summary .title {
    font-size: 0.8em;
  }
  .paymentWrapper .rightContainer .paymentInfo .summary .amount {
    font-size: 1.3em;
  }
} */
