.paymentContainer {
  background: #fff;
  width: 80%;
  border-radius: 2px;
  padding: 3em;
  font-family: "Montserrat";
  color: #1a2f6c;
}
.paymentWrapper {
  display: flex;
  /* padding: 0.5em; */
  gap: 3em;
}

.paymentWrapper .leftContainer {
  flex: 2;
}
.paymentWrapper .rightContainer {
  flex: 1;
}

.squareBackground {
  background-color: #1a2f6c;
  padding: 12px 8px;
  border-radius: 5px;
}

.paymentWrapper .leftContainer .logo {
  max-width: 100%;
  width: 30px;
  height: 30px;
  background: blue;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.paymentWrapper .leftContainer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.paymentWrapper .leftContainer .header .timer {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 5px;
}

.paymentWrapper .leftContainer .title {
  display: flex;
  align-items: center;
}
.paymentWrapper .leftContainer .title > h2 {
  color: #1e3a8a;
  font-weight: 500;
}
.paymentWrapper .leftContainer .title > .subtitle {
  font-weight: 300 !important;
  color: #1e3a8a;
}

.paymentWrapper .card_details .card_number {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.paymentWrapper .card_details h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.paymentWrapper .card_details p {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 16px;
}
.paymentWrapper .card_details .edit {
  max-width: 100%;
  width: 15px;
  height: 20px;
  margin-right: 5px;
}
/* card Input field */
.paymentWrapper .card_details .cardInput {
  position: relative;
  margin-bottom: 2em;
}

.paymentWrapper .card_details input {
  max-width: 100%;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 5em;
  font-size: 1.2em;
  font-weight: 500;
}
.paymentWrapper .card_details .cardInput .master_icon,
.paymentWrapper .card_details .cardInput .master_logo {
  position: absolute;
}
.paymentWrapper .card_details .cardInput .master_icon {
  left: 2%;
  top: 50%;
  transform: translate(0, -50%);
}
.paymentWrapper .card_details .cardInput .master_logo {
  right: 2%;
  top: 30%;
  transform: translate(-50%, 0);
  width: 20px;
}

.paymentWrapper .card_details .cardInput img,
.paymentWrapper .mastercard_container .content .card_dets img {
  max-width: 100%;
  width: 30px;
}

/* cvv */
.paymentWrapper .card_details .cvv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.paymentWrapper .card_details .cvv > div,
.paymentWrapper .card_details .cvv .cvvInput {
  flex: 1;
}
.paymentWrapper .card_details .cvv .cvvInput,
.paymentWrapper .card_details .password .passwordInput {
  position: relative;
}
.paymentWrapper .card_details .cvv img,
.paymentWrapper .card_details .password .passwordInput img {
  max-width: 100%;
  width: 20px;
  position: absolute;
  right: 4%;
  top: 30%;
  transform: translate(-50%, 0);
}

.paymentWrapper .card_details .expiry_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2em;
}
.paymentWrapper .card_details .expiry_content .expiry_details {
  flex: 1;
}
.paymentWrapper .card_details .expiry_content .expiry {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.paymentWrapper .card_details .expiry_content .expiry input {
  padding: 0 1em;
  text-align: center;
}

/* password */
.paymentWrapper .card_details .password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.paymentWrapper .card_details .password > div,
.paymentWrapper .card_details .password .passwordInput {
  flex: 1;
}

.paymentWrapper .card_details .password input {
  padding: 0 1em;
  /* text-align: center; */
}

.paynowBtn {
  width: 100%;
  padding: 1em 2em;
  font-size: 1.2em;
  background-image: linear-gradient(to right, #2676fe, #156bff);
  border: none;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
}

.paymentWrapper .rightContainer .mainWrapper {
  position: relative;
}
.paymentWrapper .rightContainer .mainWrapper .hoverContainer {
  background: rgba(255, 255, 255, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  padding: 2em 0;
  z-index: 2;
}
.paymentWrapper .rightContainer .mainWrapper .blueDiv {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 80px;
  border-radius: 0 0 150px 150px;
  background: #2676fe;
}

.paymentWrapper .rightContainer .mastercard_container {
  width: 60%;
  height: 300px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paymentWrapper .rightContainer .mastercard_container .imageDiv {
  display: flex;
  justify-content: space-between;
}
.paymentWrapper .rightContainer .mastercard_container img:nth-child(1) {
  max-width: 100%;
  width: 40px;
  height: 50px;
}

.paymentWrapper .rightContainer .mastercard_container img:nth-child(2) {
  max-width: 100%;
  width: 30px;
  height: 30px;
}

.paymentWrapper .rightContainer .mastercard_container .content .dots {
  font-size: 3em;
}
.paymentWrapper .rightContainer .mastercard_container .content .card_no {
  display: flex;
  align-items: center;
  gap: 10px;
}
.paymentWrapper
  .rightContainer
  .mastercard_container
  .content
  .card_no
  p:nth-child(2) {
  margin-bottom: -1.5em;
  font-weight: 500;
  font-size: 1.3em;
}

.paymentWrapper .rightContainer .mastercard_container .content .card_dets {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 1em 0;
}

.paymentWrapper .rightContainer .mastercard_container .content .card_dets p {
  font-weight: 500;
}
